@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Display:wght@400;500;700&display=swap");
@import "tailwindcss";
body{

  font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.625;
  color: rgba(94, 94, 94, 0.87);
   background: url(/body-background.png) 0% 0% / cover no-repeat fixed;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.103); /* Adjust darkness here */
  z-index: -1;
}